<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="dashboard">E-board</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="dashboard">Dashboard</a></li>
                <li><a href="javascript:void(0)">Scrappy search</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Actions
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Assign new email</a></li>
                        <li><a href="javascript:void(0)">Add email templates</a></li>
                        <li><a href="javascript:void(0)">Share board</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group is-empty">
                    <input type="text" class="form-control col-md-12" placeholder="Search in archive">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">My CV archive</a></li>
                <li><a href="javascript:void(0)">Statistics</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)"  class="dropdown-toggle" data-toggle="dropdown">My Profile
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Personal info</a></li>
                        <li><a href="javascript:void(0)">Assigned emails</a></li>
                        <li><a href="javascript:void(0)">Shared boards</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>