<div ng-include="'app/components/topNavigation/topNavigation.html'"></div>
<div class="buttonContainer">
    <button class="btn btn-primary" ng-click="addNewColumn()">Add column</button>
</div>
<div class="row ticketColumnsContainer" dnd-list="ticketColumns" dnd-allowed-types="['column']">
    <ticket-column ng-repeat=" (columnIndex, ticketColumn) in ticketColumns"
                   dnd-draggable="ticketColumn"
                   dnd-effect-allowed="move"
                   dnd-moved="ticketColumns.splice($index, 1)"
                   dnd-dragend="dragEnd()"
                   dnd-selected="models.selected = item"
                   dnd-type="'column'"
                   ng-class="{'selected': models.selected === item}"
                   column-title="ticketColumn.columnTitle"
                   column-index="columnIndex"
                   column-id="ticketColumn._id"
                   remove-column="removeColumn">
    </ticket-column>
</div>
