<div ng-include="'app/components/topNavigation/topNavigation.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="$ctrl.ticketInfoForm" ng-submit="$ctrl.saveTicketInfo()">
                        <div class="form-group is-empty">
                            <label for="inputTitle" class="col-md-2 control-label">Title</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="$ctrl.ticketInfo.emailTitle">
                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <label for="inputEmail" class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="$ctrl.ticketInfo.emailAddr">
                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <label for="salary" class="col-md-2 control-label">Expected salary</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="salary" placeholder="Salary" ng-model="$ctrl.ticketInfo.expectedSalary">
                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <label for="startDate" class="col-md-2 control-label">Date when start to work</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="startDate" placeholder="mm/dd/yyyy"  ng-model="$ctrl.ticketInfo.startDate">
                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <label for="contacts" class="col-md-2 control-label">Contacts</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="contacts" ng-model="$ctrl.ticketInfo.contacts"></textarea>
                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <label for="description" class="col-md-2 control-label">Description</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="description" ng-model="$ctrl.ticketInfo.description"></textarea>
                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <label for="marks" class="col-md-2 control-label">Special marks</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="marks" ng-model="$ctrl.ticketInfo.specialMarks"></textarea>
                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <label for="inputTags" class="col-md-2 control-label">Tags</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputTags" placeholder="Tags" ng-model="$ctrl.ticketInfo.emailTags">
                            </div>
                        </div>
                        <div class="form-group is-empty is-fileinput">
                            <label for="attachments" class="col-md-2 control-label">Attachments</label>
                            <div class="col-md-10">
                                <input type="text" readonly="" class="form-control" placeholder="Browse...">
                                <input type="file" id="attachments" multiple="">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div ng-repeat="attachment in $ctrl.ticketInfo.attachments" class="attachmentsFilesContainer col-md-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <i class="material-icons attachmentFile" >insert_drive_file</i>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <i class="material-icons">visibility</i>

                                                </div>
                                                <div class="col-md-12">
                                                    <i class="material-icons">delete</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <a type="button" class="btn btn-default" ui-sref="dashboard">Back</a>
                                <button type="submit" class="btn btn-primary" >Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="btn-group col-md-12">
                            <a href="javascript:void(0)" class="btn btn-default">Move to</a>
                            <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="column in $ctrl.availableColumns" ng-if="column._id !== $ctrl.ticketInfo.column">
                                    <a href="javascript:void(0)" ng-click="$ctrl.moveTicketToColumn(column._id)">
                                        {{ column.columnTitle }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)" ng-click="$ctrl.archiveTicket()">Archive</a></li>
                            </ul>
                        </div>
                        <div class="btn-group col-md-12">
                            <a href="javascript:void(0)" class="btn btn-default">Decline by</a>
                            <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)">Template 1</a></li>
                                <li><a href="javascript:void(0)">Template 2</a></li>
                                <li><a href="javascript:void(0)">Template 3</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)" ng-click="$ctrl.addToList('talent')">Add to black list</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <a href="javascript:void(0)" class="btn btn-info btn-lg" ng-click="$ctrl.shareCandidate()">Share candidate</a>
                        </div>
                        <div class="col-md-12">
                            <a href="javascript:void(0)" class="btn btn-info btn-lg" ng-click="$ctrl.sendEmail()">Contact candidate</a>
                        </div>
                        <div class="col-md-12">
                            <a href="javascript:void(0)" class="btn btn-success btn-lg" ng-click="$ctrl.addToList('talent')">Add to talent list</a>
                        </div>
                        <div class="col-md-12">
                            <a href="javascript:void(0)" class="btn btn-danger btn-lg" ng-click="$ctrl.addToList('black')">Add to black list</a>
                        </div>
                        <div class="col-md-12">
                            <a href="javascript:void(0)" class="btn btn-default btn-lg" ng-click="$ctrl.archiveTicket()">Archive ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>