<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well bs-component authFormContainer">
                <form class="form-horizontal" name="$ctrl.registrationForm" ng-submit="$ctrl.register()">
                    <fieldset>
                        <legend>Registration</legend>
                        <div class="form-group is-empty">
                            <div class="col-md-10">
                                <label ng-class="{'control-label': true, 'label-error': $ctrl.duplicateEmailError }" for="inputEmail">Email</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="inputEmail"
                                        ng-required="$ctrl.fieldRequired"
                                        name="email"
                                        ng-model="email"
                                >
                                <p class="error-msg" ng-show="$ctrl.duplicateEmailError">Email already in use</p>
                            </div>
                        </div>
                        <div ng-class="{'form-group': true, 'is-empty': true,}">
                            <div class="col-md-10">
                                <label ng-class="{'control-label': true, 'label-error': $ctrl.registrationForm.password.$touched && !$ctrl.registrationForm.password.$valid }" for="inputPassword">Password</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="inputPassword"
                                        ng-required="$ctrl.fieldRequired"
                                        name="password"
                                        ng-model="password"
                                >
                                <p class="error-msg" ng-show="$ctrl.registrationForm.password.$error.passLength">Password should consist at least 6 symbols</p>
                                <p class="error-msg" ng-show="$ctrl.registrationForm.password.$error.passMatch">Passwords didn't match</p>

                            </div>
                        </div>
                        <div class="form-group is-empty">
                            <div class="col-md-10">
                                <label ng-class="{'control-label': true, 'label-error': $ctrl.registrationForm.repassword.$touched && !$ctrl.registrationForm.repassword.$valid }" for="inputRepassword">Repeat Password</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="inputRepassword"
                                        ng-required="$ctrl.fieldRequired"
                                        name="repassword"
                                        ng-model="repassword"
                                >
                                <p class="error-msg" ng-show="$ctrl.registrationForm.repassword.$error.repassLength">Password should consist at least 6 symbols</p>
                                <p class="error-msg" ng-show="$ctrl.registrationForm.repassword.$error.passMatch">Passwords didn't match</p>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-md-4 col-md-offset-4">
                        or you can <a ui-sref="login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>