<div id="complete-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Send email to {{sendEmailCtrl.emailAddr}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group label-floating is-empty">
                    <label for="emailText" class="control-label">Email text</label>
                    <textarea type="text" class="form-control" id="emailText" name="emailText" ng-model="sendEmailCtrl.emailText"></textarea>
                </div>
                <div class="form-group is-empty is-fileinput">
                    <label for="attachments" class="col-md-2 control-label">Attachments</label>
                    <div class="col-md-10">
                        <input type="text" readonly="" class="form-control" placeholder="Browse...">
                        <input type="file" id="attachments" multiple="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="sendEmailCtrl.send()">Send<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 34.6563px; top: 20px; background-color: rgb(0, 150, 136); transform: scale(10.875);"></div></div></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 34.6563px; top: 20px; background-color: rgb(0, 150, 136); transform: scale(10.875);"></div></div></button>
            </div>
        </div>
    </div>
</div>