<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well bs-component authFormContainer">
                <form class="form-horizontal" name="$ctrl.loginForm" ng-submit="$ctrl.login()">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group is-empty">
                            <div class="col-md-10">
                                <label ng-class="{'control-label': true, }" for="inputEmail">Email</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="inputEmail"
                                        ng-required="$ctrl.fieldRequired"
                                        name="email"
                                        ng-model="email"
                                >
                            </div>
                        </div>
                        <div ng-class="{'form-group': true, 'is-empty': true,}">
                            <div class="col-md-10">
                                <label ng-class="{'control-label': true}" for="inputPassword">Password</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="inputPassword"
                                        ng-required="$ctrl.fieldRequired"
                                        name="password"
                                        ng-model="password"
                                >

                            </div>
                        </div>
                        <div class="alert alert-dismissible alert-danger" ng-show="$ctrl.loginError">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>{{ $ctrl.loginError }}</strong>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-md-4 col-md-offset-4">
                        or you can <a ui-sref="registration">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>