<div class="col-md-2 ticketColumn">
    <div class="panel panel-primary">
        <div class="panel-heading ticketColumnHeading">
            <div class="row">
                <div class="col-md-8">
                    <h3 ng-class="{'panel-title': true, 'ticketColumnTitle': true}">{{ $ctrl.columnTitle }}</h3>
                </div>
                <div class="col-md-4 ticketActions">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="material-icons" ng-click="$ctrl.addTicket()">add</i>
                        </div>
                        <div class="col-md-3">
                            <i class="material-icons"
                               ng-click="$ctrl.editColumnTitle()"
                            >create</i>
                        </div>
                        <div class="col-md-3">
                            <i class="material-icons removeTicketColumn"
                               ng-click="$ctrl.removeColumn($ctrl.columnIndex)"
                            >delete forever</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div  dnd-list="$ctrl.columnTickets" dnd-allowed-types="['ticket']">
                <div  class="panel panel-primary"
                      ng-repeat="(index, columnTicket) in $ctrl.columnTickets"
                      dnd-type="'ticket'"
                      dnd-draggable="columnTicket"
                      dnd-effect-allowed="move"
                      dnd-moved="$ctrl.columnTickets.splice($index, 1)"
                      dnd-selected="$ctrl.models.selected = item"
                      ng-class="{'selected': $ctrl.models.selected === item}">
                    <div ng-class="{'panel-body': true, 'importantTicket': columnTicket.isImportant}">
                        <div class="row">
                            <div class="col-md-8">
                                {{columnTicket.emailTitle}}
                            </div>
                            <div class="col-md-4">
                                <a ui-sref="ticketInfo({ticketId: columnTicket._id})" target="_blank" class="ticketDetailLink"><i class="material-icons" >create</i></a>
                                <i class="material-icons starIcon" ng-click="$ctrl.switchTicketImportant(index)">grade</i>
                                <i class="material-icons" ng-click="$ctrl.removeTicket(index)">delete</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                {{columnTicket.emailAddr}}
                            </div>
                            <div class="col-md-4">
                                13/03/2017
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <i class="material-icons">format_align_left</i>
                                <i class="material-icons">insert_drive_file</i>
                                <i class="material-icons">mode_comment</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div  ng-class="{'panel': true, 'panel-primary': true, hidden: $ctrl.columnTickets.length > 0}"
                      dnd-type="'ticket'" style="visibility: hidden">
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>