<div id="complete-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add new ticket</h4>
            </div>
            <div class="modal-body">
                <div class="form-group label-floating is-empty">
                    <label for="title" class="control-label">Ttile</label>
                    <input type="text" class="form-control" id="title" name="emailTitle" ng-model="addTicketCtrl.formData.emailTitle">
                </div>
                <div class="form-group label-floating is-empty">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email" name="emailAddr" ng-model="addTicketCtrl.formData.emailAddr">
                    <!--<span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>-->
                </div>
                <div class="form-group label-floating is-empty">
                    <label for="tags" class="control-label">Tags</label>
                    <input type="text" class="form-control" id="tags" name="emailTags" ng-model="addTicketCtrl.formData.emailTags">
                    <span class="help-block">Use comma for separate tags</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addTicketCtrl.add()">Add<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 34.6563px; top: 20px; background-color: rgb(0, 150, 136); transform: scale(10.875);"></div></div></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 34.6563px; top: 20px; background-color: rgb(0, 150, 136); transform: scale(10.875);"></div></div></button>
            </div>
        </div>
    </div>
</div>