<div id="complete-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{removeColumnCtrl.text}}</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeColumnCtrl.confirm()">Yes<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 34.6563px; top: 20px; background-color: rgb(0, 150, 136); transform: scale(10.875);"></div></div></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 34.6563px; top: 20px; background-color: rgb(0, 150, 136); transform: scale(10.875);"></div></div></button>
            </div>
        </div>
    </div>
</div>