$goldColor: #ffd700;

.default-container{
  width: 99%;
}

.ticketColumnsContainer, .buttonContainer {
  margin-left: 10px;
}

.ticketColumn{
  padding-left: 5px;
  padding-right: 5px;
  .form-group {
    margin: 0;
  }
}
.ticketColumnTitle {
  cursor: pointer;
}
.ticketActions i {
  display: none;
}
.ticketColumnHeading:hover .ticketActions i {
  display: block !important;
}
.columnTitleActions {
  i {
    line-height: 3.5;
  }
}
.material-icons {
  font-size: 18px;
  cursor: pointer;
}
.dndPlaceholder {
  list-style-type: none;
}
.dndDraggingSource {
  display: none;
}
.importantTicket {
  border: 1px solid $goldColor;
  i.starIcon {
    color: $goldColor;
  }
}
.ticketDetailLink, .ticketDetailLink:hover {
  color: #000;
  i {
    vertical-align: inherit;
  }
}
.attachmentsFilesContainer {
  border-right: 1px solid rgba(0, 0, 0, 0.12)
}
i.attachmentFile {
    font-size: 40px;
}
.deleteAttachmentFile {
  color: white;
  position: absolute;
  left: 26px;
  top: 58px;
}

input.ng-invalid-pass-match, input.ng-invalid-pass-length, input.ng-invalid-repass-length  {
  background-image: linear-gradient(#f44336,#f44336),linear-gradient(#D2D2D2,#D2D2D2) !important;
}
label.label-error, .error-msg {
  color: #f44336;
}

.authFormContainer {
  margin-top: 20px;
}